.ht.tab-group{
	border-bottom:1px solid black;
	margin-bottom:0.5em;
}
.ht.tab-item{
	display:inline-block;
	padding:0.2em 0.5em;
	margin-left:0.5em;
	position:relative;
	left:0px;
	top:0px;
	background:#eee;
	cursor:pointer;
	border-left:1px solid #eee;
	border-top:0px solid #eee;
	border-right:1px solid #eee;
}
.ht.tab-item.selected{
	background:white;
	top:1px;
	cursor:default;
	border-left:1px solid black;
	border-top:1px solid black;
	border-right:1px solid black;
}
